@import '../../utils/var.scss';

.container-fluid {
  min-height: 100vh;
}

.page-wrapper {
  min-height: 100vh;
  padding: 3em 2em;
}

.navbar-container {
  background: $gray-dark;
}

.card {
  color: $gray-darker;
}

.btn {
  margin-right: 5px;
}