@import '../../utils/var.scss';

nav {
  min-height: 100vh;
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    text-align: left;
    font-weight: bold;
    color: $gray;
    &:hover {
      background: #ddd;
    }
  }
}